	<h1>Cars</h1>
<h4>List of Cars</h4>
<hr>
<div class="row" align="right">
	<a href="#/car/new" class="btn btn-info">
		<i class="fa fa-user-plus"></i>
		Add Car
	</a>
	<br><br>
</div>

<div class="row">
	 <div class="col-md-4">
		Search:
		<input type="text" ng-model="search" class="form-control" />
	</div>
	<div class="col-md-4">
		Brand:
		<select class="form-control" ng-model="selectedBrand">
			<option value="">Select</option>
			<option ng-repeat="brand in brands" value="{{ brand.name }}"> {{ brand.name }}</option>
		</select>
	</div>
	<div class="col-md-4">
		Year:
		<select class="form-control" ng-model="selectedYear">
			<option value="">Select</option>
			<option ng-repeat="year in years" value="{{ year }}"> {{ year }}</option>
		</select>
	</div>
</div>
<br>

<div class="row">
	<table class="table table-striped">
		<tr>
			<th> <a ng-click=" col='brandName'; reverse = !reverse;"> Brand</th>
			<th> <a ng-click=" col='modelName'; reverse = !reverse;"> Model</th>
			<th> <a ng-click=" col='color'; reverse = !reverse;"> Color</th>
			<th> <a ng-click=" col='year'; reverse = !reverse;">Year</a> </th>
			<th> <a ng-click=" col='price'; reverse = !reverse;"> Price</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="car in cars | filter:search | filter:selectedBrand | filter:selectedYear | orderBy:col:reverse">
			<td>{{ car.brandName }}</td>
			<td>{{ car.modelName }}</td>
			<td>{{ car.color }}</td>
			<td>{{ car.year }}</td>
			<td>{{ car.price | currency}}</td>
			<td> <a href="#/car/{{ car.id }}/{{ car.brandId }}">Edit</a> </td>
		</tr>
	</table>
</div>