	<h1>Cars</h1>
<h4>List of Cars</h4>
<hr>

<div class="row">
	 <div class="col-md-6">
		Search:
		<input type="text" ng-model="search" class="form-control" />
	</div>
	<div class="col-md-6">
		Brand:
		<select class="form-control" ng-model="selectedBrand">
			<option value="">Select</option>
			<option ng-repeat="brand in brands" value="{{ brand.name }}"> {{ brand.name }}</option>
		</select>
	</div>
</div>
<br>

<div class="row">
	<table class="table table-striped">
		<tr>
			<th>Brand</th>
			<th>Model</th>
			<th>Color</th>
			<th>Year</th>
			<th>Price</th>
		</tr>
		<tr ng-repeat="car in cars | filter:search | filter:selectedBrand">
			<td>{{ car.brandName }}</td>
			<td>{{ car.modelName }}</td>
			<td>{{ car.color }}</td>
			<td>{{ car.year }}</td>
			<td>{{ car.price | currency}}</td>
		</tr>
	</table>
</div>