<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">CarApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="mHome" ><a href="#/">Home</a></li>
            <li ng-class="mCars" ><a href="#/cars">Cars</a></li>
            <li ng-class="mModels" ><a href="#/models"> Models</a></li>
            <li ng-class="mBrands" ><a href="#/brands"> Brands</a></li>
          </ul>
          </div><!--/.nav-collapse -->
    </div>
</nav>